<ion-header>
  <ion-toolbar>
    <ion-title>{{cardDeckGroup}}</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <app-search 
      (searchCompleted)="listSearchCards($event)" 
      (searchStarted)="searchStarted()"
      [items]="copyOfCards"
      filterProperty="name">
    </app-search>

    
    <ion-spinner *ngIf="isLoadingSearch"></ion-spinner>
    

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>


  <h2>{{cardItem}}</h2>

  <ion-list *ngIf="cards.length > 0">
    <ion-card *ngFor="let card of cards">
      <ion-card-header text-wrap>
        <ion-card-subtitle>{{card.cardSet}}</ion-card-subtitle>
        <ion-card-title>{{card.name}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <p [innerHTML]="card.text"></p>
        <ion-button 
          size="medium" 
          expand="full"
          [href]="'/tabs/(card:card/'+ card.cardId +')'"
          >See details:</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
